<div class="title">
    <div class="tarjeta">
        <h1 class="sobre_mi_title">{{subtitle}}</h1>
         <div class="sticker"> 
             <img src="../../../assets/img/sticker.png" alt="sticker_jparvel" class="sticker_img">
        </div>
    </div>
    <div class="fondo">
        <img src="../../../assets/img/fondo_sobremi.png" alt="fondo_jparvel" class="fondo_img">
    </div>
</div>
<div class="sobre-mi">
    <h2 class="titulo_web"> Hola soy {{title}}, Bienvenidos a mi Portfolio </h2>
    <p> Me dedico al desarrollo de paginas webs, actualmente resido en la isla de Tenerife.</p>
    <p> En esta pagina, busco compartir con ustedes todos mis trabajos en desarrollo webs, desde paginas realizadas en Wordpress hasta paginas realizadas a través de tecnologia MEAN STACK (Mongodb, Express, Angular y Nodejs).</p>
    <p> Tambien en muchos de los trabajos que encontraras en este portfolio, podrás comprobar otra de mis grandes pasiones, el SEO. En la actualidad combino en todos mis trabajo, no solo el trabajo de desarrollo de toda pagina, sino que además, lo combino con un trabajo totalmente especifico de posicionamiento SEO. </p>
</div>
<div class="logo_leng">
        <img src="../../../assets/img/mongodb.png" alt="mongodb_jparvel" class="img_leng">
        <img src="../../../assets/img/express.png" alt="express_jparvel" class="img_leng">
        <img src="../../../assets/img/angular.png" alt="angular_jparvel" class="img_leng">
        <img src="../../../assets/img/nodejs.png" alt="nodejs_jparvel" class="img_leng">
</div>

